<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  DataSource dataSource = new DataSource(5432);  -->
    <bean id="dataSource" class="com.hiwijaya.springbasic.ioc.DataSource">
        <constructor-arg name="port" value="5432"/>
        <property name="host" value="jdbc:postgresql://localhost:5432/library"/>
        <property name="user" value="postgres"/>
        <property name="password" value="secret"/>
    </bean>

    <!--  DataSource poolSource = new DataSource(ConnectionType.POOL);  -->
    <bean id="poolSource" class="com.hiwijaya.springbasic.ioc.DataSource">
        <constructor-arg>
            <value type="com.hiwijaya.springbasic.ioc.ConnectionType">POOL</value>
        </constructor-arg>
    </bean>

    <!--  Connection connection = DataSource.getInstance()  -->
    <bean id="connection" class="com.hiwijaya.springbasic.ioc.DataSource"
          factory-method="getInstance">
    </bean>


    <context:component-scan base-package="com.hiwijaya.springbasic.ioc"/>

</beans>